%table.favourites-summary
  %thead
    %tr
      %th.favourite-image= Spree.t(:name)
      %th.favourite-description= Spree.t(:name)
      %th.favourite-price= Spree.t(:price)
  %tbody
    - favourites.each do |favourite|
      - variant = favourite[:variant]
      %tr
        %td.favourite-image
          - if variant.images.length == 0
            = link_to mini_image(variant.product), variant.product
          - else
            = link_to image_tag(variant.images.first.attachment.url(:mini)), variant.product
        %td.favourite-description= variant.name
        %td.favourite-price= display_price(variant)
