%h1= accurate_title

.account-summary(data-hook="account_summary")
  %dl#user-info
    %dt= Spree.t(:email)
    %dd
      = @user.email
      (
      = link_to Spree.t(:edit), spree.edit_account_path
      )

.row#account-nav
  .columns.six.alpha.omega
    %nav
      %ul
        %li{class: "#{selected == :orders ? 'selected' : ''}"}
          %h3
            = link_to Spree.t(:my_orders), account_orders_path
        %li{class: "#{selected == :favourites ? 'selected' : ''}"}
          %h3
            = link_to Spree.t(:my_favourites), account_favourites_path
