%h1= accurate_title

%div{class: "account-summary well"}(data-hook="account_summary")
  %dl#user-info
    %dt= Spree.t(:email)
    %dd
      = @user.email
      (
      = link_to Spree.t(:edit), spree.edit_account_path
      )

.row
  .col-md-12
    %ul{class: "nav nav-pills"}
      %li.active(role="presentation")
        = link_to Spree.t(:my_orders), account_orders_path
      %li(role="presentation")
        = link_to Spree.t(:my_favourites), account_favourites_path
