%table{class: "table table-striped favourites-summary"}
  %thead.active
    %tr
      %th.favourite-image
      %th.favourite-description= Spree.t(:name)
      %th.favourite-price= Spree.t(:price)
      - if SpreeMyFavourites::Config.use_quick_add_to_cart_form
        %th.favourite-add-to-cart  
  %tbody
    - favourites.each do |favourite|
      %tr
        %td.favourite-image
          - if favourite.images.length == 0
            = link_to mini_image(favourite.product), favourite.product
          - else
            = link_to image_tag(favourite.images.first.attachment.url(:mini)), favourite.product
        %td.favourite-description(data-hook='favourite_name')= favourite.name
        %td.favourite-price= display_price(favourite)
        - if SpreeMyFavourites::Config.use_quick_add_to_cart_form
          %td.favourite-add-to-cart      
            = render partial: "spree/shared/quick_cart_add_button", locals: {product: favourite.product}
